doctype html
html
	head
		title CSS color names
		link(rel='stylesheet', href="main.css")

		| <script async src="https://www.googletagmanager.com/gtag/js?id=G-7VFZKZLYZ7"></script>
		| <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-7VFZKZLYZ7');</script>

	body
		- const fs = require("fs");
		- const colors_json = JSON.parse(fs.readFileSync("docs/data/colors.json"));
		- const colors = colors_json.colors;
		content
			div.colors
				each color, index in colors
					if index > 0 && index % 10 == 0
						div.break
					div.colorbox
						div.name
							code= color.name
						div.color(style="background-color: "+color.color)
						div.hex
							code= color.color


