
.not-using-main {
	$bc: #ccc;
	$b-gap: 48px;
	$b-end: $b-gap + 2px;
	background-image: repeating-linear-gradient(45deg, transparent 0px, transparent $b-gap, $bc $b-gap, $bc $b-end),
		repeating-linear-gradient(-45deg, transparent 0px, transparent $b-gap, $bc $b-gap, $bc $b-end);
}
