
main {
	$bc: #ccc;
	$b-gap: 48px;
	$b-end: $b-gap + 2px;
	background-image: repeating-linear-gradient(45deg, transparent 0px, transparent $b-gap, $bc $b-gap, $bc $b-end),
		repeating-linear-gradient(-45deg, transparent 0px, transparent $b-gap, $bc $b-gap, $bc $b-end);
}

div.colors {
	& > div.break {
		height: 40px;
		width: 50%;
		background-color: #ccc;
		border: 2px solid #aaa;
	}
}

div.colorbox {
	width: 240px;
	border: 2px solid rebeccapurple;
	background-color: #fff;
	& > div.index {
		position: absolute;
		background-color: rebeccapurple;
		color: #fff;
		padding: 8px 10px;
		font-size: 12px;
		font-weight: bold;
		top: 0;
		left: -2px;
		transform: translateY(-100%);
	}
}

div.colorbox > div.color {
	height: 120px;
	border: 0px solid rebeccapurple;
	border-width: 2px 0px;
}
